@import "../../sass/variables";

.gpt3__possibility {
  display: flex;
  flex-direction: row;

  &-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;

    & img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    & h4 {
      font-family: $font-family;
      font-size: 16px;
      line-height: 30px;
      font-weight: 500;
      color: #71e5ff;
    }

    & h4:last-child {
      color: #ff8a71;
    }

    & h1 {
      font-family: $font-family;
      font-weight: 800;
      font-size: 34px;
      line-height: 45px;
      margin: 1rem 0;
    }

    & p {
      font-family: $font-family;
      font-size: 16px;
      line-height: 30px;
      color: $color-text;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;

    &-image {
      margin: 1rem 0;
    }

    &-content {
      margin-top: 2rem;
    }
  }
}
